--extra-index-url https://download.pytorch.org/whl/cpu
git+https://github.com/huggingface/optimum-intel.git
git+https://github.com/openvinotoolkit/nncf.git
datasets
accelerate
openvino-nightly
gradio
onnx 
einops 
transformers_stream_generator 
tiktoken 
transformers>=4.38.1 
bitsandbytes 
chromadb 
sentence_transformers 
langchain>=0.1.15 
langchainhub 
unstructured 
scikit-learn 
python-docx 
pdfminer.six 
